{% extends "LexikTopOrFlopBundle::layout.html.twig" %}

{% block content %}
    <h2>Medias dans la categorie {{ category.getTitle() }}</h2>
    <ul>
    {% for media in medias %}
        <li>{% include "LexikTopOrFlopBundle:Default:media_list.html.twig" with { 'media': media } %}</li>
    {% endfor %}
    </ul>
{% endblock %}