<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Top or Flop{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/lexiktoporflop/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        {% endblock%}
    </head>
    <body>
        <div class="container">
            <header class="well">
                {% block header %}
                    <h1>Top or Flop ?</h1>
                {% endblock %}
            </header>

            <div class="row">
                <div class="span3">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="{{ path('index') }}">Accueil</a></li>
                        <li><a href="{{ path('show_random') }}">Média au hasard</a></li>
                        <li><a href="{{ path('show_tops') }}">Les Tops</a></li>
                        <li><a href="{{ path('show_flops') }}">Les Flops</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="span9">
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class="alert alert-{{ type }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block content %}{% endblock %}
                </div>
            </div>
            <hr />
            <footer>
                {% block footer %}
                    © TopOrFlop 2012
                {% endblock %}
            </footer>
        </div>
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
            <script src="{{ asset('bundles/lexiktoporflop/js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% endblock %}
    </body>
</html>
