{% extends "LexikTopOrFlopBundle::backend_layout.html.twig" %}

{% block content %}
    <h1>Catégories</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
        {%  for category in categories %}
            <tr>
                <td>{{ category.getId() }}</td>
                <td>{{ category.getTitle() }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path("backend_category_edit", { "id" : category.getId() }) }}" title="Modifier" class="btn btn-primary"><i class="icon-edit"></i></a>
                        <a href="{{ path("backend_category_delete", { "id" : category.getId() }) }}" title="Supprimer" class="btn btn-danger" onclick="return confirmDelete()"><i class="icon-remove-sign"></i></a>
                    </div>
                </td>
            </tr>
        {%  endfor %}
    </table>

    <script>
        function confirmDelete() {
            return confirm("Etes-vous sûr de vouloir supprimer cette catégorie ?");
        }
    </script>
{% endblock %}
