{% extends "LexikTopOrFlopBundle::backend_layout.html.twig" %}

{% block content %}
    <h1>Medias</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>URL</th>
            <th>Moyenne</th>
            <th>Categorie</th>
            <th>Actions</th>
        </tr>
        {%  for media in medias %}
            <tr>
                <td>{{ media.getId() }}</td>
                <td>{{ media.getTitle() }}</td>
                <td>{{ media.getUrl() }}</td>
                <td>{{ media.getAverage() }}</td>
                <td>{{ media.getCategory().getTitle() }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path("backend_media_edit", { "id" : media.getId() }) }}" title="Modifier" class="btn btn-primary"><i class="icon-edit"></i></a>
                        <a href="{{ path("backend_media_delete", { "id" : media.getId() }) }}" title="Supprimer" class="btn btn-danger" onclick="return confirmDelete()"><i class="icon-remove-sign"></i></a>
                    </div>
                </td>
            </tr>
        {%  endfor %}
    </table>

    <script>
        function confirmDelete() {
            return confirm("Etes-vous sûr de vouloir supprimer ce média ?");
        }
    </script>
{% endblock %}
